*body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Pacifico', cursive; /* Definindo a fonte chamativa para o header */
    margin: 0;

}
h1 {
    text-align: center;
    color: #333;
    color: #fff;
    padding: 50px;
    margin: 0;
    }
h3 {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

section {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    border-bottom: 2px solid #4CAF50; /* Linha de separação abaixo do título */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
}
.work {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.work img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Borda arredondada para as imagens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

a {
    font-family: 'Roboto', sans-serif;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
