*body {
    font-family: 'Arial', sans-serif;
    background-color: #4CAF50;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    }

header {
    background: #4caf50;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Pacifico', cursive; /* Definindo a fonte chamativa para o header */
    }
.header{
    font-size: 1.3em;
    color: #333;
    font-weight: bold;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #333;
    color: #000000;
    padding: 10px;
    margin: 0;
    }
h3 {
    font-family: 'Roboto', sans-serif;
    color: #333;
}


section {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-right: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    border-bottom: 2px solid #4CAF50; /* Linha de separação abaixo do título */
    padding-bottom: 10px;
    margin-bottom: 20px;
}



p {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.txtvideo{
    padding-top: 10px;

}

.apresentacao{
    padding-bottom: 10px;
}
.work {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

.work img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Borda arredondada para as imagens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

iframe{
    padding: 20px;
}
.button-container {
    text-align: center;
}
.back a{
    color: #fff;
    background-color: #4caf50; /* Cor de fundo do botão */
    padding: 10px 20px; /* Espaçamento interno para melhor aparência */
    border-radius: 5px; /* Borda arredondada */
    text-decoration: none; /* Remover sublinhado padrão */
    display: inline-block; /* Permite ajustar a largura e altura */
    border-bottom: 2px solid #000000;
    transition: background-color 0.3s; /* Adicionando uma transição suave */
}

.redirect{
    font-size: 20px;
    text-align: justify;
    background: #4caf50;
    color: #fff;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #4CAF50;
    text-decoration: none;
   
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.whoIam{
    margin-left: 10px;
    

}
.imagem-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.imagem-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
.comoPosso{
    display: block;
    margin: auto;
}
#pres{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 20px;
 }

/*contato*/
.content {
    margin-right: 250px;
    padding: 20px;
}

.contact-box {
    position: fixed;
    top: 50%;
    right: 0;
    width: 280px;
    background-color: #f8f8f8;
    padding: 20px;
    border-left: 1px solid #ddd;
    transform: translateY(-50%);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.contact-box h2 {
    margin-top: 0;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    section {
        margin-right: 20px;
    }

    .contact-box {
        position: static; /* ou relativo, dependendo do layout desejado */
        width: auto;
        margin-top: 30%;
        box-shadow: none;
        border-left: none;
        text-align: center;
        background-color: transparent; /* Fundo transparente para visualizar elementos subjacentes */
        z-index: -1; /* Colocar a contact-box abaixo dos elementos da section */
    }
}
/* videoyoutube */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 (altura/largura) */
    padding-top: 30px; /* Adiciona espaço acima do iframe, se necessário */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Header */
.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4caf50;
 }
 
 .glitch {
    position: relative;
    font-size: 83px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #13ff00;
    z-index: -2;
 }

 
 @keyframes glitch-color {
    0% {
       transform: translate(0);
    }
 
    20% {
       transform: translate(-3px, 3px);
    }
 
    40% {
       transform: translate(-3px, -3px);
    }
 
    60% {
       transform: translate(3px, 3px);
    }
 
    80% {
       transform: translate(3px, -3px);
    }
 
    to {
       transform: translate(0);
    }
 }
