20px;
}

.contact-box {
    position: fixed;
    top: 55%;
    right: 0;
    width: 280px;
    background-color: #f8f8f8;
    padding: 20px;
    border-left: 1px solid #ddd;
    transform: translateY(-50%);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.contact-box h2 {
    margin-top: 0;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    section {
        margin-right: 20px;
    }
    .custom-box{
        margin-right: 20px;
    }

    .contact-box {
        position: static; /* ou relativo, dependendo do layout desejado */
        width: auto;
        margin-top: 30%;
        box-shadow: none;
        border-left: none;
        text-align: center;
        background-color: transparent; /* Fundo transparente para visualizar elementos subjacentes */
        z-index: -1; /* Colocar a contact-box abaixo dos elementos da section */
    }
}
/* videoyoutube */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 (altura/largura) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Header */
.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4caf50;
 }
 
 .glitch {
    position: relative;
    font-size: 83px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #13ff00;
    z-index: -2;
 }

 
 @keyframes glitch-color {
    0% {
       transform: translate(0);
    }
 
    20% {
       transform: translate(-3px, 3px);
    }
 
    40% {
       transform: translate(-3px, -3px);
    }
 
    60% {
       transform: translate(3px, 3px);
    }
 
    80% {
       transform: translate(3px, -3px);
    }
 
    to {
       transform: translate(0);
    }
 }
